*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: powderblue;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  background-color: black;
  padding: 30px; /* Adjust the padding to increase header height */
  box-shadow: 0 0 10px red;
  color: white;
  position: relative; /* Ensure the header is a positioned element */
}

header li {
  display: inline;
  margin-left: 55px;
}

header li a {
  position: relative;
  color: black;
  text-decoration: none;
  padding: 15px;
  overflow: hidden;
}

header li a:before,
header li a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #18f08b;
  transition: width 0.5s;
}

header li a:after {
  right: 0;
  top: 0;
}

header li a:before {
  left: 0;
  bottom: 0;
}

header li a:hover:before,
header li a:hover:after {
  width: 100%;
}

header li a:hover {
  color: #ffffff;
}

.logo {
  position: absolute; /* Change fixed to absolute */
  height: 60px; /* Increase the height of the logo */
  left: 18px;
  width: auto; /* Allow the width to adjust automatically */
  top: 50%; /* Center the logo vertically */
  transform: translateY(-50%); /* Center the logo vertically */
}
.article{
    width:50%;
    margin:auto;
    text-align:center;
    transform:translateY(25vh);
}